<form  method="POST" action="/login">
  <fieldset>
    <legend>Login</legend>

      <input type="text" name="username" autofocus="autofocus" placeholder="Username">
      <input type="password" name="password" placeholder="Password">

      <div>
        <button type="submit">Login</button>
      </div>
    </fieldset>
</form>
