<form  method="POST" action="/create_open_group">
  <fieldset>
    <legend>Create Open Group</legend>

      <input type="text" name="open_group_name" autofocus="autofocus" placeholder="OpenGroupName">
      <input type="text" name="open_group_description" autofocus="autofocus" placeholder="OpenGroupDescription">

      <div>
        <button type="submit">Create Open Group</button>
      </div>
    </fieldset>
</form>
