<h1> Ruby Course Project by Petar Ivanov </h1>

<p> Homepage </p>

<br />

<% if not logged_in?  %>

  <a href="/login"> Login </a>
    <br />
    <br />
    <br />
  <a href="/register"> Register </a>

<% else %>

  <p> Hello <%= params[:username] %> </p>

  <%="Hello #{params[:username]}"%>

<% end %>
