<h1> Ruby Course Project by Petar Ivanov </h1>

<h3>Homepage</h3>

<% if not logged_in?  %>

  <a href="/login"> Login </a>
    <br />
    <br />
    <br />
  <a href="/register"> Register </a>

<% else %>

  <h2>Hello, <%= @username.capitalize %></h2>

  <p> Your Open Groups: </p>
    <% @user_open_groups_names.each do |name| %>
      <li> <a href="/open_group/<%= name %>"> <%= name %> </a> </li>
    <% end %>

    <br />

  <a href="/create_open_group"> Create Open Group </a>

    <br />
    <br />

  <a href="/user/<%= @username %>"> View Profile </a>

    <br />
    <br />

  <a href="/logout"> Logout </a>


<% end %>
