<h1> Ruby Course Project by Petar Ivanov </h1>

<p> Homepage </p>

<br />

<% if not logged_in?  %>

  <a href="/login"> Login </a>
    <br />
    <br />
    <br />
  <a href="/register"> Register </a>

<% else %>

  <p> Hello, <%= @username.capitalize %> </p>

    <br />

  <p> Your Open Groups: </p>
    <% @user_open_groups_names.each do |name| %>
      <li> <%= name %> </li>
    <% end %>

    <br />

  <a href="/create_open_group"> Create Open Group </a>

    <br />
    <br />

  <a href="/logout"> Logout </a>


<% end %>
