<form  method="POST" action="/register">
  <fieldset>
    <legend>Register</legend>

      <input type="text" name="username" autofocus="autofocus" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="password2" placeholder="Repeat password">

      <div>
        <button type="submit">Register</button>
      </div>
    </fieldset>
</form>
