<h3> User's profile page </h3>

<p> Username: <%= @user.username %> </p>

<% if @user.id == session[:user_id] %>
  <a href="/user/<%= @user.username %>/edit"> Edit Profile </a>
<% end %>

<br />

<p> Avatar: </p>

<img src="/me_small.jpg" />
